.constructor_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.constructor_list_empty {
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constructor_list_empty_title {
    font-size: 32px;
    max-width: 360px;
    text-align: center;
}

.constructor_list_empty_small {
    height: 373px;
    display: flex;
    justify-content: center;
    align-items: center;
}