.constructor_list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: calc(100vh - 590px);
}

.constructor_list::-webkit-scrollbar {
    background-color: #2F2F37;
    width: 8px;
}

.constructor_list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}