.constructor_section {
    width: 600px;
}

.constructor_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.constructor_list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: calc(100vh - 590px);
}

.constructor_list::-webkit-scrollbar {
    background-color: #2F2F37;
    width: 8px;
}

.constructor_list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.constructor_list_empty {
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constructor_list_empty_small {
    height: 373px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constructor_list_empty_title {
    font-size: 32px;
    max-width: 360px;
    text-align: center;
}


.constructor_list_item {
    display: flex;
    align-items: center;
}

.constructor_button_wrapper {
   display: flex;
   justify-content: right;
}


.constructor_price_box {
    display: flex;
    align-items: center;
 }
