.nav_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.link_wrapper {
    display: flex;
    cursor: pointer;
    color: #8585AD;
}

.link_wrapper_active {
    color: white;
}
